body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

img {
    display: block;
    position: fixed;
    right: 0;
    top: 15%;
    padding: 16px;
    width: 60%;
    height: auto;
    z-index: -1;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
}

.sticky-container {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    height: 100px; /* Height within which the opacity transition should occur */
}

.container {
    display: block;
    position: relative;
    top: 100px;
    padding: 16px;
    margin: 0 20px 100px 20px;
    background-color: #00ff6a;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
}

button {
    background-color: #00a105;
    color: white;
    padding: 12px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #007506;
}

.container label {
    font-weight: bold;
}

.container select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
}

.container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
}

.container input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
}

@media (max-width: 768px) {
    .product-listings {
        margin: 10px;
    }

    .product {
        margin: 10px;
    }

    img {
        width: 100%;
        display: block;
        position: relative;
    }

    .container {
        width: 80dvw;
        margin: 10px auto;
    }

    .footer-column {
        width: 100%;
    }
}
